# Node.js
node_modules/

# Arquivos de compilação
build/
dist/

# Arquivos de ambiente
.env

# Arquivos de dependência
package-lock.json
yarn.lock

# Logs e saída
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# Sistema de arquivos
.DS_Store
Thumbs.db

# Arquivos de build
*.bak
*.backup
*.swp
*.tmp

# Outros
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de configuração
npm-debug.log
yarn-error.log
